<!-- Intro Section -->
<section class="hero">
  <div class="hero-content">
    <h1>Hello there, I'm Simon!</h1>
    <p class="tagline">
      Always learning, building, and breaking things <br>(on purpose).
    </p>
  </div>
</section>

<!-- Projects Preview -->
<section class="projects-preview">
  <div class="projects-header">
    <div class="projects-title">
      <h2>Featured</h2>
    </div>
  </div>

  <div class="projects-grid">
    <article class="project-card">
      <h3>Creative Playground</h3>
      <div class="github-badge">
        <a href="https://github.com/foelli" target="_blank" rel="noopener" class="github-logo-link"
          aria-label="GitHub Profile">
          <img src="assets/icons/github.svg" alt="GitHub Logo" class="github-logo" />
        </a>
        <span class="github-label">GitHub</span>
      </div>

      <p>A space where I experiment and document my exercises.</p>
      <a rel="noopener" href="https://github.com/foelli" target="_blank" class="link">
        Explore
      </a>
    </article>
  </div>
</section>



<!-- About Section -->
<section id="about" class="about-section">
  <app-about></app-about>
</section>

<!-- Projects Section -->
<section id="project" class="projects-section">
  <app-projects></app-projects>
</section>